.iphone-section {
  .thefirst-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 2rem 0;
    .content {
      text-align: center;
      h1 {
        font-size: 4rem;
        font-weight: 500;
        color: #fff;
      }
      h3 {
        color: rgb(142, 112, 36);
        font-size: 5rem;
        font-weight: 300;
        text-shadow: 0 0 5px rgb(142, 112, 36);
      }
      p {
        font-size: 2rem;
        font-weight: 200;
        color: #fff;
      }
      a {
        font-size: 2rem;
        color: #0174be;
      }
    }
    .image {
      margin-top: 3rem;
    }
  }

  .thesecond-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 3rem 0;
    background-color: #fff;
    position: relative;
    .content {
      text-align: center;
      h1 {
        font-size: 4rem;
        font-weight: 500;
        color: #000;
      }
      h3 {
        color: #000;
        font-size: 5rem;
        font-weight: 300;
        text-shadow: 0 0 5px white;
      }
      p {
        font-size: 2rem;
        font-weight: 200;
        color: #000;
      }
      a {
        font-size: 2rem;
        color: #0174be;
      }
    }
    .image {
      margin-top: 3rem;
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .thethird-section {
    width: 100%;
    margin: 1rem auto;
    background-color: #fff;
    height: fit-content !important;
    .section-in {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      gap: 7rem;
      .content {
        text-align: center;
        h1 {
          font-size: 4rem;
          font-weight: 500;
          color: #000;
        }
        h3 {
          color: #0174be;
          font-size: 5rem;
          font-weight: 600;
        }
        p {
          font-size: 2rem;
          font-weight: 200;
          color: #000;
        }
        a {
          font-size: 2rem;
          color: #0174be;
        }
      }
      .image {
        margin-top: 3rem;
        width: 38%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .thefourth-section {
    max-width: 1400px;
    width: 100%;
    margin: 7rem auto;
    h1 {
      font-size: 5rem;
      font-weight: 500;
      margin-bottom: 3rem;
      text-align: center;
    }

    .section-in {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 1rem;
      gap: 2rem;
      .cards {
        display: flex;
        flex-direction: column;
        width: 30rem;
        gap: 3rem;
        .bottom-side {
          padding-left: 1rem;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          p {
            font-size: 1.6rem;
            font-weight: 200;
          }
          .camera,
          .battery,
          .usb {
            display: flex;
            flex-direction: column;
            p {
              font-size: 1.6rem;
            }
            .iconn {
              font-size: 3rem;
              color: var(--main-text-color);
            }
          }
        }
      }
    }
  }

  .thefifth-section {
    max-width: 1400px;
    width: 100%;
    margin: 5rem auto;
    h1 {
      font-size: 5rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 3rem;
    }
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0 0 1rem #aaa;
      border-radius: 2rem;
      padding: 4rem 2rem;
      .left-side {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
        h4 {
          font-size: 6rem;
          font-weight: 400;
          color: #000;
        }
        p {
          font-size: 2rem;
          font-weight: 200;
          width: 30rem;
          color: #000;
        }
      }
      .right-side {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 730px) {
  .thefirst-section {
    .content {
      h1 {
        font-size: 2rem !important;
      }
      h3 {
        font-size: 3rem !important;
      }
      p,
      a {
        font-size: 1.6rem !important;
      }
    }
    .image {
      width: 100%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .thesecond-section {
    .content {
      h1 {
        font-size: 2rem !important;
      }
      h3 {
        font-size: 3rem !important;
      }
      p,
      a {
        font-size: 1.6rem !important;
      }
    }
  }

  .thethird-section {
    .section-in{
        .content {
            text-align: center;
            h1 {
              font-size: 2rem !important;
            }
            h3 {
              font-size: 2rem !important;
            }
            p,a{
              font-size: 1.6rem !important;
            }
          }
    }
  }

  .thefourth-section{
    h1{
        font-size: 3rem !important;
    }
  }

  .thefifth-section{
    h1{
        font-size: 3rem !important;
    }
    .box{
        border-radius: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
            font-size: 3rem !important;
        }
        p{
            font-size: 1.5rem !important;
        }
    }
  }
}
